/* =========================
   GALLERY SECTION
========================= */
.gallery-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1fr);
  gap: 10px;
}

.grid-1-span-2 img:nth-child(1) {
  grid-row: 1 / span 2;
}

.gallery-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: all .3s;
}

.gallery-grid:hover img {
  filter: blur(2px);
}

.gallery-grid img:hover {
  border-radius: 30px;
  box-shadow: 0 25px 50px -12px #00000040;
  transform: scale(1.02);
  filter: blur(0);
}

@media (min-width: 768px) {
  .gallery-grid {
    grid-template-columns: 2fr 2fr;
    grid-template-rows: repeat(2, 2fr);
  }
}